@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Rubik+Mono+One&display=swap');

/* Classement */
.scrollcards {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
}

div.scrollcards .card {
    display: inline-block;
    border: 0;
    padding: 14px;
    text-decoration: none;
    height: auto; 
    width: 30ch;
}

.card {
    margin-right: 2.5ch;
    margin-left: 2.5ch;
    margin-bottom: 3.5ch;
}

.card-title {
    white-space: normal;
    text-align: center;
    margin-top: 0.5ch;
    margin-bottom: 1.5ch;
}

.t {
    display: flex;
}

.p {
    height: 5ch;
    width: auto;
    margin-right: 1ch;
}

.ClassementVotesContainer {
    justify-content: space-evenly;
}

.ClassementVotes {
    align-items: center;
}

.ClassementVotes p {
    font-size: 3ch;
    font-weight: bold;
}

#top1 {
    width: 36ch;
}

#top2 {
    width: 34ch;
}

#top3 {
    width: 32ch;
}

/* Vote */

.rubik-mono-one-regular {
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}
  
body {
    background-color: #1B1464;
    color: #FA2F6E; 
}

h1 {
    text-align: center;
    font-family: 'Rubik Mono One'
}

img#affiche {
    width: 300px;
}

.btn#connexion {
    border: solid 2px #FA2F6E;
    color: white;

}

.btn#connexion:hover{
    background-color: #FA2F6E;
}


.btn#loupe {
    border: solid 2px #FA2F6E;
}
.btn#loupe:hover {
    background-color: #FA2F6E; 
    }


#like:hover {
    background-color: green;
}

#dislike:hover {
    background-color: red;
}

#next:hover {
    background-color: gray;
}
.container{
    text-align: center;
}

#recherche {
    width: 100%;
}

#search {
    width: 400px;
    margin: 0 auto;
    display: inline-block;
}